In [24]:
from pathlib import Path
import pandas as pd

data_file = Path('..') / 'data' / 'processed' / 'movies_1990_onwards.csv'

data = pd.read_csv(data_file)
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411744 entries, 0 to 411743
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          411744 non-null  object
 1   titleType       411744 non-null  object
 2   primaryTitle    411741 non-null  object
 3   originalTitle   411741 non-null  object
 4   isAdult         411744 non-null  int64
 5   startYear       411744 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  315752 non-null  float64
 8   genres          385820 non-null  object
 9   averageRating   230952 non-null  float64
 10  numVotes        230952 non-null  float64
 11  decade          411744 non-null  float64
 12  genre_list      385820 non-null  object
dtypes: float64(6), int64(1), object(6)
memory usage: 40.8+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,decade,genre_list
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019.0,NaN,NaN,"Action,Crime",NaN,NaN,2010.0,"['Action', 'Crime']"
1,tt0015724,movie,Dama de noche,Dama de noche,0,1993.0,NaN,102.0,"Drama,Mystery,Romance",6.3,34.0,1990.0,"['Drama', 'Mystery', 'Romance']"
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118.0,"Comedy,Fantasy,Romance",6.4,92798.0,2000.0,"['Comedy', 'Fantasy', 'Romance']"
3,tt0038086,movie,Shiva und die Galgenblume,Shiva und die Galgenblume,0,1993.0,NaN,NaN,Thriller,7.0,29.0,1990.0,['Thriller']
4,tt0048550,movie,Rendez-vous of the Docks,Le rendez-vous des quais,0,1990.0,NaN,75.0,Drama,6.7,67.0,1990.0,['Drama']

In [25]:
# Sort dataset by startYear
df = data.sort_values(by="startYear")

# Extract and display unique years (sorted)
unique_years = sorted(df["startYear"].dropna().unique())

# Display them
print(unique_years)

[np.float64(1990.0), np.float64(1991.0), np.float64(1992.0), np.float64(1993.0), np.float64(1994.0), np.float64(1995.0), np.float64(1996.0), np.float64(1997.0), np.float64(1998.0), np.float64(1999.0), np.float64(2000.0), np.float64(2001.0), np.float64(2002.0), np.float64(2003.0), np.float64(2004.0), np.float64(2005.0), np.float64(2006.0), np.float64(2007.0), np.float64(2008.0), np.float64(2009.0), np.float64(2010.0), np.float64(2011.0), np.float64(2012.0), np.float64(2013.0), np.float64(2014.0), np.float64(2015.0), np.float64(2016.0), np.float64(2017.0), np.float64(2018.0), np.float64(2019.0), np.float64(2020.0), np.float64(2021.0), np.float64(2022.0), np.float64(2023.0), np.float64(2024.0), np.float64(2025.0), np.float64(2026.0), np.float64(2027.0), np.float64(2028.0), np.float64(2029.0), np.float64(2030.0), np.float64(2031.0), np.float64(2032.0)]

In [26]:
df = df[df['startYear'] <= 2025]
unique_years = sorted(df["startYear"].dropna().unique())

# Display them
print(unique_years)

[np.float64(1990.0), np.float64(1991.0), np.float64(1992.0), np.float64(1993.0), np.float64(1994.0), np.float64(1995.0), np.float64(1996.0), np.float64(1997.0), np.float64(1998.0), np.float64(1999.0), np.float64(2000.0), np.float64(2001.0), np.float64(2002.0), np.float64(2003.0), np.float64(2004.0), np.float64(2005.0), np.float64(2006.0), np.float64(2007.0), np.float64(2008.0), np.float64(2009.0), np.float64(2010.0), np.float64(2011.0), np.float64(2012.0), np.float64(2013.0), np.float64(2014.0), np.float64(2015.0), np.float64(2016.0), np.float64(2017.0), np.float64(2018.0), np.float64(2019.0), np.float64(2020.0), np.float64(2021.0), np.float64(2022.0), np.float64(2023.0), np.float64(2024.0), np.float64(2025.0)]

In [27]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,decade,genre_list
87,tt0096405,movie,Vroom,Vroom,0,1990.0,NaN,89.0,"Drama,Romance",5.2,207.0,1990.0,"['Drama', 'Romance']"
91,tt0096752,movie,Abrahams Gold,Abrahams Gold,0,1990.0,NaN,95.0,Drama,7.8,98.0,1990.0,['Drama']
90,tt0096749,movie,Abatjour 2,Abatjour 2,1,1990.0,NaN,100.0,"Crime,Mystery,Romance",5.4,37.0,1990.0,"['Crime', 'Mystery', 'Romance']"
20,tt0081721,movie,Vincent and Me,Vincent et moi,0,1990.0,NaN,100.0,"Drama,Family,Fantasy",6.2,354.0,1990.0,"['Drama', 'Family', 'Fantasy']"
78,tt0096075,movie,Sexpot,Sexpot,0,1990.0,NaN,95.0,"Comedy,Crime,Romance",5.0,71.0,1990.0,"['Comedy', 'Crime', 'Romance']"

In [28]:
# Convert startYear to integer (handling NaN safely)
df["startYear"] = df["startYear"].fillna(0).astype(int)

# Rename the column
df.rename(columns={"startYear": "releaseYear"}, inplace=True)

df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,releaseYear,endYear,runtimeMinutes,genres,averageRating,numVotes,decade,genre_list
87,tt0096405,movie,Vroom,Vroom,0,1990,NaN,89.0,"Drama,Romance",5.2,207.0,1990.0,"['Drama', 'Romance']"
91,tt0096752,movie,Abrahams Gold,Abrahams Gold,0,1990,NaN,95.0,Drama,7.8,98.0,1990.0,['Drama']
90,tt0096749,movie,Abatjour 2,Abatjour 2,1,1990,NaN,100.0,"Crime,Mystery,Romance",5.4,37.0,1990.0,"['Crime', 'Mystery', 'Romance']"
20,tt0081721,movie,Vincent and Me,Vincent et moi,0,1990,NaN,100.0,"Drama,Family,Fantasy",6.2,354.0,1990.0,"['Drama', 'Family', 'Fantasy']"
78,tt0096075,movie,Sexpot,Sexpot,0,1990,NaN,95.0,"Comedy,Crime,Romance",5.0,71.0,1990.0,"['Comedy', 'Crime', 'Romance']"

In [29]:
# Drop endYear column
df.drop(columns=["endYear"], inplace=True)

In [30]:
# Drop unnecessary columns
df.drop(columns=["titleType", "genre_list"], inplace=True)

# Verify
print(df.columns)

Index(['tconst', 'primaryTitle', 'originalTitle', 'isAdult', 'releaseYear',
       'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'decade'],
      dtype='object')

In [31]:
df.head()

,tconst,primaryTitle,originalTitle,isAdult,releaseYear,runtimeMinutes,genres,averageRating,numVotes,decade
87,tt0096405,Vroom,Vroom,0,1990,89.0,"Drama,Romance",5.2,207.0,1990.0
91,tt0096752,Abrahams Gold,Abrahams Gold,0,1990,95.0,Drama,7.8,98.0,1990.0
90,tt0096749,Abatjour 2,Abatjour 2,1,1990,100.0,"Crime,Mystery,Romance",5.4,37.0,1990.0
20,tt0081721,Vincent and Me,Vincent et moi,0,1990,100.0,"Drama,Family,Fantasy",6.2,354.0,1990.0
78,tt0096075,Sexpot,Sexpot,0,1990,95.0,"Comedy,Crime,Romance",5.0,71.0,1990.0

In [32]:
df.isnull().sum()

tconst                 0
primaryTitle           2
originalTitle          2
isAdult                0
releaseYear            0
runtimeMinutes     94663
genres             25811
averageRating     179094
numVotes          179094
decade                 0
dtype: int64

In [33]:
df = df.dropna(subset=["primaryTitle", "originalTitle"])

In [34]:
df.isnull().sum()

tconst                 0
primaryTitle           0
originalTitle          0
isAdult                0
releaseYear            0
runtimeMinutes     94662
genres             25811
averageRating     179093
numVotes          179093
decade                 0
dtype: int64

In [35]:
#fill missing values in 'genres' with 'Unknown'
df['genres'] = df['genres'].fillna('Unknown')

In [36]:
df.isnull().sum()

tconst                 0
primaryTitle           0
originalTitle          0
isAdult                0
releaseYear            0
runtimeMinutes     94662
genres                 0
averageRating     179093
numVotes          179093
decade                 0
dtype: int64

In [37]:
df['genres_sorted'] = df['genres'].apply(lambda x: tuple(sorted(x)) if x != ['Unknown'] else 'Unknown')

median_per_genres = df.groupby('genres_sorted')['runtimeMinutes'].median()

overall_median = df['runtimeMinutes'].median()

def fill_runtime(row):
    if pd.notna(row['runtimeMinutes']):
        return row['runtimeMinutes']
    return median_per_genres.get(row['genres_sorted'], overall_median)

df['runtimeMinutes'] = df.apply(fill_runtime, axis=1)

df.drop(columns='genres_sorted', inplace=True)

In [38]:
df.isnull().sum()

tconst                 0
primaryTitle           0
originalTitle          0
isAdult                0
releaseYear            0
runtimeMinutes        52
genres                 0
averageRating     179093
numVotes          179093
decade                 0
dtype: int64

In [39]:
df['runtimeMinutes'] = df['runtimeMinutes'].fillna(overall_median)

In [40]:
df.isnull().sum()

tconst                 0
primaryTitle           0
originalTitle          0
isAdult                0
releaseYear            0
runtimeMinutes         0
genres                 0
averageRating     179093
numVotes          179093
decade                 0
dtype: int64

In [41]:
import pandas as pd
import numpy as np

df['genres_sorted'] = df['genres'].apply(lambda x: tuple(sorted(x)) if x != ['Unknown'] else 'Unknown')

group_medians = df.groupby(['releaseYear', 'genres_sorted'])[['averageRating', 'numVotes']].median().reset_index()

df = df.merge(group_medians, on=['releaseYear', 'genres_sorted'], how='left', suffixes=('', '_median'))

overall_medians = df[['averageRating', 'numVotes']].median()

df['averageRating'] = df['averageRating'].fillna(df['averageRating_median']).fillna(overall_medians['averageRating'])
df['numVotes'] = df['numVotes'].fillna(df['numVotes_median']).fillna(overall_medians['numVotes'])

df.drop(columns=['genres_sorted', 'averageRating_median', 'numVotes_median'], inplace=True)

In [42]:
df.isnull().sum()

tconst            0
primaryTitle      0
originalTitle     0
isAdult           0
releaseYear       0
runtimeMinutes    0
genres            0
averageRating     0
numVotes          0
decade            0
dtype: int64

In [43]:
df.head()

,tconst,primaryTitle,originalTitle,isAdult,releaseYear,runtimeMinutes,genres,averageRating,numVotes,decade
0,tt0096405,Vroom,Vroom,0,1990,89.0,"Drama,Romance",5.2,207.0,1990.0
1,tt0096752,Abrahams Gold,Abrahams Gold,0,1990,95.0,Drama,7.8,98.0,1990.0
2,tt0096749,Abatjour 2,Abatjour 2,1,1990,100.0,"Crime,Mystery,Romance",5.4,37.0,1990.0
3,tt0081721,Vincent and Me,Vincent et moi,0,1990,100.0,"Drama,Family,Fantasy",6.2,354.0,1990.0
4,tt0096075,Sexpot,Sexpot,0,1990,95.0,"Comedy,Crime,Romance",5.0,71.0,1990.0

In [45]:
data_encoded = pd.concat([df, df['genres'].str.get_dummies(sep=',')], axis=1)


data_encoded.drop(columns=['genres'], inplace=True)

In [46]:
data_encoded.head()

,tconst,primaryTitle,originalTitle,isAdult,releaseYear,runtimeMinutes,averageRating,numVotes,decade,Action,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,Unknown,War,Western
0,tt0096405,Vroom,Vroom,0,1990,89.0,5.2,207.0,1990.0,0,...,0,1,0,0,0,0,0,0,0,0
1,tt0096752,Abrahams Gold,Abrahams Gold,0,1990,95.0,7.8,98.0,1990.0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0096749,Abatjour 2,Abatjour 2,1,1990,100.0,5.4,37.0,1990.0,0,...,0,1,0,0,0,0,0,0,0,0
3,tt0081721,Vincent and Me,Vincent et moi,0,1990,100.0,6.2,354.0,1990.0,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0096075,Sexpot,Sexpot,0,1990,95.0,5.0,71.0,1990.0,0,...,0,1,0,0,0,0,0,0,0,0